.App {
  text-align: center;
}

.Center {
  text-align: center;
  justify-content: center;
}

.LeftAlign {
  text-align: left;
  justify-content: left;
}

a:link {
  text-decoration: none;
  columns: "black";
}

a:visited {
  text-decoration: underline;
  columns: "red";
}

a:hover {
  text-decoration: underline;
  columns: "blue";
}

a:active {
  text-decoration: underline;
  color: antiquewhite;
}
